<div class="container">
  <div class="row center">
    <a href="https://www.mongodb.com" target="_blank" rel="noopener noreferrer"><img src="/assets/images/mongodb.jpg" height="100px" width="100px" alt=""></a>
    <a href="https://expressjs.com" target="_blank" rel="noopener noreferrer"><img src="/assets/images/express_js.png" height="100px" width="100px" alt=""></a>
    <a href="https://angular.io" target="_blank" rel="noopener noreferrer"><img src="/assets/images/AngularJS.png" height="100px" width="100px" alt=""></a>
    <a href="https://nodejs.org" target="_blank" rel="noopener noreferrer"><img src="/assets/images/nodejs.jpg" height="100px" width="100px" alt=""></a>
  </div>
</div>